<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <style>
    .table-responsive{
      position: relative;
      overflow: scroll;
      width: 600px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="my-4">Buy Stocks</h1>
          <div class="form-group">
            <label for="broker" class="col-form-label">Exchange name:</label>
            <select name="broker" id="my-select" class="form-control">
              <% for(let i = 0; i < data.exchanges.length; i++) { %>
              <option value="<%= data.exchanges[i] %>">
                <%= data.exchanges[i] %>
              </option>
              <% } %>
            </select>
          </div>          
          <p id="success-msg" style="display: none; color: green; font-weight: bold;"></p>
          <div class="row">
            <div class="col-12 col-md-6 mb-4">
              <input type="text" id="search-bar" class="form-control" placeholder="Search...">
            </div>
          </div>
          <div class="table-responsive">
            <table id="stocks" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Symbol</th>
                  <th>Company Name</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody style="height: 100px; overflow: auto">
                <% for (let i = 0; i < data.length; i++) { %>
                  <tr>
                    <td><%= data[i].symbol %></td>
                    <td><%= data[i].company_name %></td>
                    <td><%= data[i].price %></td>
                    <td><button type="button" id="<%= data[i].company_name %>" class="btn btn-primary" data-toggle="modal" data-target="#buyModal" data-symbol="<%= data[i].symbol %>" data-name="<%= data[i].company_name %>" data-price="<%= data[i].price %>">Buy</button></td>
                  </tr>
                <% } %>
              </tbody>
            </table>      
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/requestBuy.js"></script>
  </body>
</html>
